workflow/MultiAgente_Financiero.json
{
  "name": "Agente Financiero Track 1 v4 integrado",
  "nodes": [
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        26336,
        19152
      ],
      "id": "4729a281-3063-452f-a656-644d926882dc",
      "name": "Respond to Webhook3"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, session_id, needs_summary, profile_summary, objections,\n       funnel_stage, suggested_action, action_details, created_at\nFROM fa_followups\nWHERE approval_status = 'pending'\nORDER BY created_at ASC;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        26128,
        19152
      ],
      "id": "0c738f82-0f00-4a9f-a721-83a388ab8bbd",
      "name": "Execute a SQL query7",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "path": "followup/pending",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        25920,
        19152
      ],
      "id": "71bcd749-322d-40c8-8b76-7798f47503de",
      "name": "Webhook2",
      "webhookId": "536f6470-ab7a-4758-9360-a8e9374c496c"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseHeaders": {
            "entries": [
              {
                "name": "Access-Control-Allow-Origin",
                "value": "*"
              }
            ]
          }
        }
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        26832,
        18640
      ],
      "id": "90ee227e-57a5-4d9c-a693-427920e67dce",
      "name": "Respond to Webhook2"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nif (items.length === 0) {\n  return {\n    json: {\n      ok: false,\n      error: 'No se encontró ningún followup con ese id'\n    }\n  };\n}\n\nreturn {\n  json: {\n    ok: true,\n    followup: items[0].json\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26624,
        18640
      ],
      "id": "8be5f082-b6e1-4f83-a1ad-49e22a711d0e",
      "name": "Code in JavaScript5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE fa_followups\nSET approval_status = $1,\n    final_action = CASE\n      WHEN $1 = 'edited' THEN $2\n      WHEN $1 = 'approved' THEN suggested_action\n      WHEN $1 = 'rejected' THEN NULL\n    END,\n    reviewed_by = $3,\n    reviewed_at = NOW()\nWHERE id = $4\nRETURNING id, approval_status, final_action;",
        "options": {
          "queryReplacement": "=={{ [$json.status, $json.edited_action, $json.reviewed_by, $json.followup_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        26416,
        18640
      ],
      "id": "04ee5c1b-d7c6-468c-8ebc-808d830fb7d2",
      "name": "Execute a SQL query6",
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, errors: $json.errors }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        26416,
        18832
      ],
      "id": "e38245eb-d5e2-457e-bacc-223735c11829",
      "name": "Respond to Webhook1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "d129aa36-323f-40b3-86cf-2c2593ae2c40",
              "leftValue": "={{ $json.valid }}",
              "rightValue": "true",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        26208,
        18736
      ],
      "id": "57530b26-262e-477b-8557-bf3324fae343",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || {};\n\nconst validStatuses = ['approved', 'edited', 'rejected'];\nconst status = body.status;\nconst followupId = body.followup_id;\nconst reviewedBy = body.reviewed_by ? String(body.reviewed_by).trim() : null;\nconst editedAction = body.edited_action ? String(body.edited_action).trim() : null;\n\nconst errors = [];\n\nif (!followupId || typeof followupId !== 'string') {\n  errors.push('followup_id es obligatorio y debe ser un string');\n}\n\nif (!validStatuses.includes(status)) {\n  errors.push(`status debe ser uno de: ${validStatuses.join(', ')}`);\n}\n\nif (status === 'edited' && !editedAction) {\n  errors.push('edited_action es obligatorio cuando status es \"edited\"');\n}\n\nif (!reviewedBy) {\n  errors.push('reviewed_by es obligatorio');\n}\n\nif (errors.length > 0) {\n  return {\n    json: {\n      valid: false,\n      errors\n    }\n  };\n}\n\nreturn {\n  json: {\n    valid: true,\n    followup_id: followupId,\n    status,\n    edited_action: editedAction,\n    reviewed_by: reviewedBy\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26000,
        18736
      ],
      "id": "803604a2-e14e-4d6c-bbcf-a5eadcee2c60",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "followup/review",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        25792,
        18736
      ],
      "id": "8699d546-224d-4c28-a328-c458ffa98931",
      "name": "Webhook1",
      "webhookId": "ced51fac-c8f5-4d5c-a205-7ab5bbfac0d5"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fa_sessions (id, status)\nVALUES (md5($1)::uuid, 'active')\nON CONFLICT (id) DO NOTHING;",
        "options": {
          "queryReplacement": "=={{ [$json.session_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        28464,
        18128
      ],
      "id": "e66d6f4e-9562-4ef9-81ff-8e18c6942b85",
      "name": "Asegurar Sesion Existe",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fa_followups\n  (session_id, needs_summary, profile_summary, objections, funnel_stage, suggested_action, action_details)\nVALUES\n  (md5($1)::uuid, $2, $3, $4, $5, $6, $7);",
        "options": {
          "queryReplacement": "=={{ [$('Code in JavaScript3').item.json.session_id, $('Code in JavaScript3').item.json.needs_summary, $('Code in JavaScript3').item.json.profile_summary, $('Code in JavaScript3').item.json.objections, $('Code in JavaScript3').item.json.funnel_stage, $('Code in JavaScript3').item.json.suggested_action, $('Code in JavaScript3').item.json.action_details] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        28672,
        18128
      ],
      "id": "7b94e6b0-25fb-4f0c-96b9-5681d54f7c0c",
      "name": "Execute a SQL query5",
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawText = $json.output[0].content[0].text;\nconst cleanText = rawText.replace(/```json/g, '').replace(/```/g, '').trim();\nconst data = JSON.parse(cleanText);\n\nreturn {\n  json: {\n    ...data,\n    session_id: $('Edit Fields').first().json.session.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28288,
        18128
      ],
      "id": "0c918fed-a73e-4f0e-9831-59aaa5a110af",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-luna",
          "mode": "list",
          "cachedResultName": "GPT-5.6-LUNA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "# IDENTIDAD\nEres el Agente de Seguimiento de un CRM Inteligente Financiero.\nNO hablas con el usuario. Tu output es interno, para uso del ejecutivo comercial.\n\n# OBJETIVO\nAnalizar la conversación completa (mensaje, datos comerciales, contexto educativo)\ny generar un resumen accionable para el ejecutivo.\n\n# TAREAS\n1. Resume la necesidad del usuario en 1-2 frases.\n2. Resume su perfil (tipo de prospecto, presupuesto, riesgo, objetivo si están disponibles).\n3. Identifica objeciones o dudas expresadas (si no hay, usa \"Ninguna detectada\").\n4. Determina la etapa del embudo: \"DESCUBRIMIENTO\", \"EVALUACION\", \"DECISION\", o \"SIN_CLASIFICAR\".\n5. Sugiere UNA acción: \"agendar_reunion\", \"enviar_material_educativo\", o \"derivar_especialista\".\n6. Da un detalle breve de esa acción (ej. qué material enviar, o con qué especialista).\n\n# REGLAS\nNunca envíes ni ejecutes nada. Nunca inventes datos que no estén en el contexto recibido.\n\n# FORMATO DE SALIDA\nResponde únicamente JSON válido, sin markdown:\n{\n  \"needs_summary\": \"\",\n  \"profile_summary\": \"\",\n  \"objections\": \"\",\n  \"funnel_stage\": \"\",\n  \"suggested_action\": \"\",\n  \"action_details\": \"\"\n}"
            },
            {
              "content": "==={{\nJSON.stringify({\n    message: $('Edit Fields').item.json.message.content,\n    commercial: $json.commercial,\n    education: $json.education\n}, null, 2)\n}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        28016,
        18128
      ],
      "id": "d01adfdc-bb73-456a-8bc7-fa0b37d925ec",
      "name": "Asistente de Seguimiento",
      "credentials": {
        "openAiApi": {
          "id": "U7150gU3UWesjCta",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE fa_sessions\nSET educational_topic = CASE\n      WHEN $1 = TRUE AND $2 IS NOT NULL THEN $2\n      ELSE educational_topic\n    END,\n    topic_of_interest = CASE\n      WHEN $3 = TRUE AND $2 IS NOT NULL THEN $2\n      WHEN $3 = FALSE AND topic_of_interest = $2 THEN NULL\n      ELSE topic_of_interest\n    END,\n    topic_consent = CASE\n      WHEN $3 IS NOT NULL THEN $3\n      ELSE topic_consent\n    END,\n    topic_consent_at = CASE\n      WHEN $3 = TRUE THEN NOW()\n      WHEN $3 = FALSE THEN NULL\n      ELSE topic_consent_at\n    END,\n    topic_consent_for = CASE\n      WHEN $3 IS NOT NULL AND $2 IS NOT NULL THEN $2\n      ELSE topic_consent_for\n    END\nWHERE id = md5($4)::uuid;",
        "options": {
          "queryReplacement": "=={{ [$json.supported, $json.topic, $json.consent_flag, $json.session_id] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        27456,
        17984
      ],
      "id": "de9fc8b3-b8ac-4477-b673-513513212fda",
      "name": "Execute a SQL query4",
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parseJson = (value) => {\n  try {\n    const text = value?.output?.[0]?.content?.[0]?.text ?? value?.text ?? value;\n    if (typeof text === 'object' && text !== null) return text;\n    if (typeof text !== 'string') return {};\n    return JSON.parse(text.replace(/```json/gi, '').replace(/```/g, '').trim());\n  } catch (error) {\n    return {};\n  }\n};\n\nconst data = parseJson($json);\nconst base = $('Consolidar Base Educativa').first().json || {};\nconst approvedContent = base.approved_content || [];\nconst availableTopics = Array.isArray(base.available_topics) ? base.available_topics : [];\nconst crm = $('Leer Estado CRM').first().json || {};\nconst userMessage = String($('Edit Fields').first().json.message?.content || '').trim();\nconst normalized = userMessage\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '')\n  .replace(/[¡!.,;:]+$/g, '');\n\nif (base.request_type === 'LIST_APPROVED_CONTENT') {\n  return {\n    json: {\n      interaction_type: 'LIST_APPROVED_CONTENT',\n      supported: availableTopics.length > 0,\n      topic: null,\n      available_topics: availableTopics,\n      source: null,\n      level: 'BEGINNER',\n      definition: '',\n      explanation: '',\n      advantages: [],\n      disadvantages: [],\n      risks: [],\n      example: '',\n      learning_path: [],\n      quiz: [],\n      recommended_followup: 'NONE',\n      consent_flag: null,\n      content_validated: true,\n      unsupported_reason: availableTopics.length > 0 ? null : 'NO_APPROVED_CONTENT',\n      total_approved_count: base.total_approved_count || 0,\n      session_id: $('Edit Fields').first().json.session.id\n    }\n  };\n}\n\nconst grantsConsent = /\\b(si|autorizo|acepto|pueden contactarme|pueden guardar|guarden mi interes|doy mi consentimiento)\\b/i.test(normalized)\n  && !/\\b(no|no autorizo|no acepto|no quiero|no guarden|no me contacten)\\b/i.test(normalized);\nconst deniesConsent = /\\b(no autorizo|no acepto|no quiero|no guarden|no me contacten|prefiero que no)\\b/i.test(normalized);\n\nlet consentFlag = null;\nif (grantsConsent) consentFlag = true;\nif (deniesConsent) consentFlag = false;\nif (typeof data.consent_flag === 'boolean' && consentFlag === null) consentFlag = data.consent_flag;\n\nconst sourceId = data.source?.content_id != null ? String(data.source.content_id) : null;\nconst approvedRecord = sourceId\n  ? approvedContent.find((row) => String(row.id) === sourceId)\n  : null;\n\nconst supported = data.supported === true && Boolean(approvedRecord);\nlet source = null;\nif (supported) {\n  source = {\n    content_id: String(approvedRecord.id),\n    organization: approvedRecord.source_org,\n    document: approvedRecord.source_document,\n    section: approvedRecord.source_section || '',\n    version: approvedRecord.version || '',\n    approved_by: approvedRecord.approved_by || '',\n    approved_at: approvedRecord.approved_at || ''\n  };\n}\n\nconst topic = data.topic || crm.educational_topic || crm.topic_of_interest || null;\nconst interactionType = consentFlag !== null && !supported\n  ? 'CONSENT_ONLY'\n  : supported ? 'EDUCATION' : 'UNSUPPORTED';\n\nlet recommendedFollowup = supported ? data.recommended_followup : 'NONE';\nlet learningPath = Array.isArray(data.learning_path) ? data.learning_path.filter(Boolean).slice(0, 3) : [];\nlet quiz = Array.isArray(data.quiz) ? data.quiz.filter(Boolean).slice(0, 3) : [];\n\nif (recommendedFollowup === 'QUIZ') {\n  learningPath = [];\n  if (quiz.length !== 3) recommendedFollowup = 'NONE';\n} else if (recommendedFollowup === 'LEARNING_PATH') {\n  quiz = [];\n  if (learningPath.length < 2) recommendedFollowup = 'NONE';\n} else {\n  recommendedFollowup = 'NONE';\n  learningPath = [];\n  quiz = [];\n}\n\nreturn {\n  json: {\n    interaction_type: interactionType,\n    supported,\n    topic,\n    available_topics: availableTopics,\n    source,\n    level: supported ? (data.level || 'BEGINNER') : 'BEGINNER',\n    definition: supported ? (data.definition || '') : '',\n    explanation: supported ? (data.explanation || '') : '',\n    advantages: supported && Array.isArray(data.advantages) ? data.advantages : [],\n    disadvantages: supported && Array.isArray(data.disadvantages) ? data.disadvantages : [],\n    risks: supported && Array.isArray(data.risks) ? data.risks : [],\n    example: supported ? (data.example || '') : '',\n    learning_path: supported ? learningPath : [],\n    quiz: supported ? quiz : [],\n    recommended_followup: supported ? recommendedFollowup : 'NONE',\n    consent_flag: consentFlag,\n    content_validated: supported,\n    unsupported_reason: supported ? null : ((base.total_approved_count || 0) === 0 ? 'NO_APPROVED_CONTENT' : 'NO_MATCHING_CONTENT'),\n    total_approved_count: base.total_approved_count || 0,\n    session_id: $('Edit Fields').first().json.session.id\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27312,
        17984
      ],
      "id": "5f519b1d-f1ab-4baf-92d2-cf576ba6e4ee",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"output\": {{ JSON.stringify($('Agente General').item.json.output[0].content[0].text) }}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        28880,
        17824
      ],
      "id": "cb4416b3-4bc6-43c4-af97-0c45d0b8bd92",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fa_messages (session_id, role, content, created_at)\nVALUES (md5($1)::uuid, 'assistant', $2, NOW());",
        "options": {
          "queryReplacement": "=[\n  \"{{ $('Edit Fields').first().json.session.id }}\",\n  \"{{ $json.output[0].content[0].text }}\"\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        28688,
        17824
      ],
      "id": "4c81fa8f-24fd-483b-bf5e-7d7e0fff8628",
      "name": "Execute a SQL query3",
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-terra",
          "mode": "list",
          "cachedResultName": "GPT-5.6-TERRA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "# IDENTIDAD Y MISIÓN\n\nEres el Asistente General de un CRM financiero. Eres el único agente que habla con el usuario.\n\nTu función es convertir la información de los agentes especializados y del historial en una conversación clara, útil y progresiva. No debes limitarte a confirmar datos: cada respuesta debe resolver algo o conducir al siguiente paso concreto.\n\nPuedes usar principios generales y ampliamente aceptados de planificación financiera para organizar la conversación, pero no puedes:\n- prometer rentabilidad;\n- garantizar que una inversión es segura;\n- recomendar productos, empresas o activos específicos sin información suficiente;\n- inventar datos del usuario;\n- fingir que ejecutaste una inversión;\n- mencionar agentes internos, JSON, base de datos o CRM.\n\n# REGLA SUPERIOR DE COHERENCIA DE MONTOS Y CONTINUIDAD B2B\n\n1. canonical_amounts es la referencia autoritativa para montos. Usa esos valores y su formato visible. Nunca introduzcas un monto alternativo que no aparezca allí o en un mensaje explícito del usuario.\n\n2. 400000 se muestra como $400,000. Está prohibido transformarlo en $400, decir que antes se mencionó $400 o afirmar que hubo una cifra diferente si no existe una contradicción explícita en los mensajes del usuario.\n\n3. Para B2B, investment_budget y corporate_budget pueden representar el mismo monto cuando el usuario dice cuánto quiere invertir para su empresa. No preguntes \"¿qué presupuesto corporativo manejan?\" si canonical_amounts.corporate_budget ya tiene valor.\n\n4. Si el usuario responde \"sí\", \"correcto\" o equivalente a una confirmación directa de monto, acepta la confirmación y avanza al siguiente campo. Nunca repitas la misma pregunta en el mismo turno ni en el siguiente.\n\n5. Si last_question_was_duplicate_corporate_budget=true, reconoce brevemente la confusión, aclara que no se necesita otro presupuesto y avanza con next_missing_field. No vuelvas a solicitar corporate_budget.\n\n6. En una empresa que desea invertir sin afectar su operación, operating_reserve no es otro presupuesto: es el monto que debe quedar disponible para nómina, proveedores y contingencias. Explícalo así antes de preguntarlo.\n\n7. Cuando derived_profile.net_deployable_capital tenga valor, muestra el cálculo una sola vez:\ncapital corporativo - reserva operativa = capital inicialmente desplegable.\nNo prometas que todo ese saldo deba invertirse.\n\n# ENTRADAS\n\nRecibirás:\n- user_message;\n- intent;\n- commercial;\n- education;\n- crm;\n- known_profile;\n- missing_information;\n- next_missing_field;\n- profile_already_confirmed;\n- forzar_entrega_ahora;\n- ambiguous_followup;\n- greeting_only;\n- thanks_only;\n- last_assistant_message;\n- active_financial_context;\n- canonical_amounts;\n- derived_profile;\n- last_question_was_duplicate_corporate_budget;\n- deterministic_resolution.\n\n# PRIORIDAD DE LA INFORMACIÓN\n\n1. crm y known_profile contienen datos ya conocidos.\n2. commercial contiene datos nuevos, perfil, resumen y datos faltantes.\n3. education contiene explicaciones educativas.\n4. El historial y last_assistant_message sirven para mantener continuidad.\n\nNunca vuelvas a preguntar un dato que ya tenga valor en crm o known_profile.\n\n# REGLA PRINCIPAL: PROHIBIDO DEJAR LA CONVERSACIÓN EN UN CALLEJÓN SIN SALIDA\n\nCuando el usuario aporte un dato útil, no respondas solamente:\n- “Gracias por compartirlo”;\n- “Entiendo que deseas…”;\n- “Está bien”;\n- “¿Qué aspecto deseas revisar?”;\n- “¿En qué puedo ayudarte?”.\n\nDespués de reconocer el dato, debes avanzar inmediatamente con:\n1. una utilidad breve relacionada con ese dato; y\n2. una sola pregunta concreta que corresponda al siguiente dato más importante.\n\nEjemplo correcto:\n\nUsuario: “Quiero invertir 30000”.\n\nRespuesta:\n“Con un capital de $30,000 ya se puede estructurar una estrategia diversificada, pero antes de distribuirlo es importante saber cuándo podrías necesitar ese dinero. ¿Cuál plazo se parece más a tu caso: menos de 1 año, entre 1 y 3 años, entre 3 y 5 años o más de 5 años?”\n\nNo agregues una segunda pregunta en ese turno.\n\n# ORDEN DE DESCUBRIMIENTO PARA UNA INVERSIÓN\n\nCuando el objetivo sea invertir, pregunta un dato por turno y sigue este orden, omitiendo los que ya se conocen:\n\n1. Horizonte de inversión.\n2. Perfil de riesgo.\n3. Objetivo financiero.\n4. Fondo de emergencia o necesidad de liquidez.\n5. País de residencia y experiencia, solo cuando sean necesarios.\n\nUsa next_missing_field como guía principal.\n\n## Cómo formular las preguntas\n\nHaz preguntas fáciles de responder, con opciones concretas y una explicación breve de por qué importa.\n\nHorizonte:\n“¿Cuándo crees que podrías necesitar este dinero: en menos de 1 año, entre 1 y 3, entre 3 y 5 o después de 5 años?”\n\nRiesgo:\n“Si temporalmente tus $30,000 bajaran a unos $27,000, ¿qué te resultaría más probable: retirar el dinero, esperar a que se recupere o mantenerlo e incluso aumentar la inversión?”\n\nObjetivo:\n“¿Cuál es tu meta principal: conservar el capital, generar ingresos periódicos, hacerlo crecer a largo plazo o ahorrar para una compra concreta?”\n\nNo uses preguntas vagas como “¿qué aspecto deseas revisar?” cuando ya existe un objetivo financiero activo.\n\n\n# ORDEN DE DESCUBRIMIENTO B2B\n\nCuando prospect_type sea B2B, omite cualquier dato ya conocido y sigue:\n1. Tamaño de empresa.\n2. Responsable de la decisión.\n3. Presupuesto corporativo, únicamente cuando no exista investment_budget ni corporate_budget.\n4. Reserva operativa necesaria para nómina, proveedores y contingencias.\n\nLa pregunta de reserva debe dejar clara la diferencia:\n\"De los $400,000 bajo evaluación, ¿qué monto debe quedar disponible y fuera de la inversión para nómina, proveedores y contingencias durante los próximos 2 años?\"\n\nSi el usuario ya indicó $400,000 para invertir, nunca preguntes nuevamente cuánto presupuesto corporativo maneja. El siguiente paso es conocer la reserva operativa o, si ya se conoce, calcular el capital inicialmente desplegable.\n\n# RESPUESTA A MENSAJES AMBIGUOS\n\nSi ambiguous_followup es true, interpreta el mensaje usando last_assistant_message.\n\nNo cambies de tema y no hagas una nueva pregunta genérica. Reformula en palabras más simples lo último que dijiste o preguntaste, incluye un ejemplo breve y repite una sola pregunta clara.\n\nEjemplo:\n\nSi antes preguntaste por el horizonte y el usuario responde “?”:\n“Me refiero al tiempo durante el cual puedes dejar invertidos esos $30,000 sin necesitarlos. Si los usarás el próximo año, se prioriza estabilidad y liquidez; si puedes dejarlos más de cinco años, existen más alternativas. ¿Cuál plazo se acerca más a tu caso?”\n\nSi dice “no entiendo”, primero identifica exactamente qué parte del mensaje anterior pudo causar confusión y explíquela sin tecnicismos.\n\n# CUANDO EL USUARIO PIDE INVERTIR “DE FORMA SEGURA”\n\nAclara brevemente que ninguna inversión está completamente libre de riesgo. No des una conferencia extensa ni una lista genérica antes de conocer su situación.\n\nAvanza así:\n1. explica en una o dos frases que una estrategia prudente prioriza reserva de emergencia, plazo, liquidez y diversificación;\n2. retoma el siguiente dato faltante con una pregunta concreta.\n\nEjemplo:\n“Podemos enfocarnos en reducir riesgos, pero no existe una inversión con ganancias garantizadas. La distribución adecuada depende principalmente de cuándo podrías necesitar el dinero. ¿Lo dejarías menos de 1 año, entre 1 y 3, entre 3 y 5 o más de 5 años?”\n\n# SALUDOS, AGRADECIMIENTOS Y DESPEDIDAS\n\nSi greeting_only es true y no existe un contexto financiero activo:\n- saluda brevemente;\n- invita a mencionar un objetivo, deuda, ahorro, compra o inversión;\n- no hagas un interrogatorio.\n\nSi thanks_only es true y existe un objetivo financiero activo con datos faltantes:\n- responde al agradecimiento en una frase;\n- continúa naturalmente con el siguiente paso;\n- formula una sola pregunta concreta.\n\nEjemplo:\n“De nada. Para convertir esa orientación en un plan útil, falta definir cuánto tiempo podrías mantener el dinero invertido. ¿Cuál plazo se acerca más a tu caso?”\n\nSi el usuario se despide claramente o pide detenerse, no continúes el proceso comercial.\n\n# RESPONDER PRIMERO, PREGUNTAR DESPUÉS\n\nCuando el usuario haga una pregunta directa:\n1. responde primero de forma clara;\n2. integra los datos relevantes ya conocidos;\n3. termina con una sola pregunta que haga avanzar el objetivo, solo si todavía hace falta información.\n\nNunca evadas una pregunta directa para pedir datos primero, salvo que sea imposible responder sin ellos. En ese caso, explica exactamente qué dato falta y por qué.\n\n# INFORMACIÓN EDUCATIVA Y TRAZABILIDAD\n\nCuando education.interaction_type sea \"CONSENT_ONLY\":\n- si consent_flag=true, confirma brevemente que el tema fue registrado como interés comercial con autorización;\n- si consent_flag=false, confirma que no se registrará como señal comercial;\n- no repitas la explicación educativa;\n- no muestres fuente, ruta ni quiz en ese turno.\n\nCuando education.supported sea true y content_validated sea true:\n1. Responde usando únicamente definition, explanation, advantages, disadvantages, risks y example.\n2. Incluye siempre una línea visible con este formato:\n   \"Fuente: [organization] — [document], sección [section], versión [version].\"\n3. Debes mostrar exactamente uno de estos cierres educativos:\n   - Si recommended_followup=\"LEARNING_PATH\": \"Ruta sugerida:\" seguida de 2 o 3 temas de learning_path.\n   - Si recommended_followup=\"QUIZ\": presenta exactamente las 3 preguntas de quiz.\n4. Nunca sustituyas la fuente por una mención genérica como \"según Futuro Academy\".\n5. No añadas conocimientos, productos, rentabilidades ni cifras que no estén en education.\n\nExcepción al límite de una pregunta: un quiz educativo validado puede contener exactamente tres preguntas. En ese caso no agregues ninguna otra pregunta al final.\n\nSi education.supported es false por falta de material aprobado, indícalo con transparencia: no existe contenido aprobado disponible para responder ese tema en este momento. No improvises la explicación.\n\nDespués de una explicación con ruta de aprendizaje, si education.consent_flag es null y (crm.topic_consent es null o crm.topic_consent_for es distinto de education.topic), puedes cerrar con una única solicitud explícita de consentimiento:\n\"¿Autorizas que guarde este tema como interés comercial para que un asesor pueda darte seguimiento?\"\nPreguntar por un concepto nunca equivale a consentimiento.\n\n\n# REGLA DE SEPARACIÓN ENTRE EDUCACIÓN Y CALIFICACIÓN COMERCIAL\nLas señales commercial_requested y educational_only son determinísticas.\n- Si educational_only=true o commercial_requested=false, está PROHIBIDO pedir horizonte, riesgo, presupuesto, objetivo, país o experiencia.\n- Una pregunta educativa no inicia por sí sola un proceso comercial.\n- No conviertas una consulta sobre inflación, ETF, bonos o contenidos disponibles en una entrevista de inversión.\n- Solo formula preguntas de perfil cuando commercial_requested=true.\n\n# LISTADO DE CONTENIDOS APROBADOS\nCuando education.interaction_type=\"LIST_APPROVED_CONTENT\":\n- si education.available_topics contiene elementos, responde con una lista breve y clara de los temas aprobados disponibles;\n- muestra preferentemente topic y title; agrega document o version solo cuando ayude a distinguir materiales;\n- no inventes temas que no estén en available_topics;\n- no muestres una fuente individual, porque el usuario está pidiendo un catálogo, no una explicación;\n- no termines con preguntas sobre inversión, plazo o riesgo;\n- puedes cerrar con una sola pregunta opcional: \"¿Cuál de estos temas quieres revisar?\".\n\nSi available_topics está vacío, indica claramente que la base educativa todavía no tiene contenidos aprobados cargados. No cambies de tema y no inicies calificación comercial.\n\n# TEMA SIN COINCIDENCIA EN LA BASE\nCuando education.interaction_type=\"UNSUPPORTED\":\n- si unsupported_reason=\"NO_APPROVED_CONTENT\", explica que todavía no hay material educativo aprobado cargado;\n- si unsupported_reason=\"NO_MATCHING_CONTENT\" y available_topics tiene elementos, aclara que no hay contenido aprobado para el tema solicitado y enumera hasta cinco temas que sí están disponibles;\n- no improvises la explicación;\n- no preguntes por horizonte, riesgo ni objetivos comerciales en ese turno.\n\n# PERFIL COMPLETO: ACTÚA, NO PIDAS PERMISO\n\nSi profile_already_confirmed es true:\n- no repitas presupuesto, horizonte, riesgo y objetivo en cada turno;\n- no vuelvas a preguntar si desea continuar;\n- responde a la petición actual;\n- si corresponde elaborar un plan, entrégalo directamente.\n\nUna respuesta completa puede organizarse en:\n1. prioridad de liquidez;\n2. distribución por nivel de riesgo sin nombrar productos específicos;\n3. diversificación;\n4. revisión de comisiones, regulación e impuestos;\n5. plan de seguimiento.\n\n# CONTINUACIÓN DE UNA OFERTA ANTERIOR\n\nSi forzar_entrega_ahora es true:\n- interpreta “sí”, “dale”, “hazlo”, “continúa” o equivalentes como autorización para ejecutar lo último que ofreciste;\n- está prohibido volver a pedir permiso;\n- está prohibido responder solo “claro, procederé”;\n- entrega el contenido prometido en ese mismo mensaje;\n- no reinicies la conversación ni repitas preguntas ya respondidas.\n\n# CÁLCULOS\n\nCuando ya estén disponibles los datos numéricos necesarios:\n- realiza el cálculo en la misma respuesta;\n- muestra la operación y el resultado;\n- no ofrezcas calcularlo después.\n\nSi falta la tasa de interés:\n- calcula primero el monto que sí puede determinarse;\n- puedes mostrar una referencia a interés cero indicando claramente que es una simplificación;\n- pide únicamente la tasa o dato faltante para afinar el cálculo.\n\nNo repitas un cálculo que ya aparece en el historial; retoma el resultado anterior y avanza.\n\n# PREGUNTAS CONFIGURABLES\n\nRecibirás configured_question desde la tabla fa_question_config.\nCuando next_missing_field no sea null y configured_question exista:\n- utiliza question_text como la única pregunta final;\n- conserva su intención y opciones;\n- puedes ajustar únicamente concordancia, monto o pronombres, sin cambiar el dato solicitado;\n- usa rationale para explicar en una frase por qué importa;\n- no inventes otra pregunta distinta.\n\nSi configured_question es null, usa una pregunta de respaldo solo para el mismo next_missing_field. Nunca preguntes dos campos en el mismo turno.\n\nPrioridades de cierre:\n1. Responder una confirmación o rechazo de consentimiento.\n2. Presentar un quiz educativo de tres preguntas, sin otra pregunta adicional.\n3. Solicitar consentimiento después de una ruta educativa.\n4. Hacer la pregunta configurable del siguiente dato faltante.\n\n# ESTILO DE RESPUESTA\n\n- Español natural y profesional.\n- Tono cercano, sin sonar robótico ni excesivamente entusiasta.\n- Párrafos breves.\n- Normalmente entre 60 y 180 palabras; puede ser más largo cuando el usuario pida un plan completo.\n- Máximo una pregunta por respuesta.\n- Evita listas largas.\n- No uses Markdown que el frontend pueda mostrar literalmente: no escribas asteriscos dobles, encabezados con # ni tablas.\n- Puedes usar numeración simple cuando entregues un plan.\n- Usa el símbolo $ de forma consistente para montos en dólares.\n- No repitas la misma frase de apertura en turnos consecutivos.\n- No termines con frases vacías como “estoy aquí para ayudarte”.\n\n# CONTROL FINAL ANTES DE RESPONDER\n\nComprueba:\n1. ¿Respondí realmente al mensaje actual?\n2. ¿Evité repetir datos conocidos?\n3. ¿Aporté valor, además de confirmar?\n4. ¿La pregunta final es concreta y fácil de responder?\n5. ¿Solo hice una pregunta?\n6. ¿Mantuve el tema y la continuidad del historial?\n"
            },
            {
              "content": "==Mensaje actual:\n{{ $json.user_message }}\n\nHistorial de la conversación:\n{{ $('Leer Historial Mensajes').all().map(i => (i.json.role === 'user' ? 'Usuario' : 'Asistente') + ': ' + i.json.content).join('\\n') || 'Sin historial previo.' }}\n\nIntención:\n{{ JSON.stringify($json.intent) }}\n\nInformación comercial:\n{{ JSON.stringify($json.commercial) }}\n\nInformación educativa validada:\n{{ JSON.stringify($json.education) }}\n\nEstado confirmado:\n{{ JSON.stringify($json.crm) }}\n\nPerfil conocido:\n{{ JSON.stringify($json.known_profile) }}\n\nMontos canónicos:\n{{ JSON.stringify($json.canonical_amounts) }}\n\nDatos derivados:\n{{ JSON.stringify($json.derived_profile) }}\n\nDatos faltantes:\n{{ JSON.stringify($json.missing_information) }}\n\nSiguiente campo:\n{{ JSON.stringify($json.next_missing_field) }}\n\nPregunta configurable:\n{{ JSON.stringify($json.configured_question) }}\n\nSeñales de continuidad:\n{{ JSON.stringify({\n  profile_already_confirmed: $json.profile_already_confirmed,\n  forzar_entrega_ahora: $json.forzar_entrega_ahora,\n  ambiguous_followup: $json.ambiguous_followup,\n  greeting_only: $json.greeting_only,\n  thanks_only: $json.thanks_only,\n  consent_response: $json.consent_response,\n  last_assistant_message: $json.last_assistant_message,\n  active_financial_context: $json.active_financial_context,\n  last_question_was_duplicate_corporate_budget: $json.last_question_was_duplicate_corporate_budget,\n  deterministic_resolution: $json.deterministic_resolution,\n  commercial_requested: $json.commercial_requested,\n  educational_only: $json.educational_only,\n  requested_agents: $json.requested_agents\n}) }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        28400,
        17824
      ],
      "id": "a197ad74-dd07-433b-af9e-7f790c26da78",
      "name": "Agente General",
      "credentials": {
        "openAiApi": {
          "id": "U7150gU3UWesjCta",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parseObject = (value) => {\n  if (value && typeof value === 'object') return value;\n  if (typeof value !== 'string') return {};\n  try { return JSON.parse(value.replace(/```json/gi, '').replace(/```/g, '').trim()); }\n  catch (error) { return {}; }\n};\n\nconst normalizeText = (value) => String(value ?? '')\n  .trim()\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '');\n\nconst parseMoney = (value) => {\n  if (value === null || value === undefined || value === '') return null;\n  if (typeof value === 'number') return Number.isFinite(value) ? value : null;\n\n  let text = normalizeText(value)\n    .replace(/usd|dolares?|dollars?|[$€]/g, '')\n    .trim();\n\n  let multiplier = 1;\n  if (/\\b(millon|millones|m)\\b/.test(text)) multiplier = 1000000;\n  else if (/\\b(mil|k)\\b/.test(text)) multiplier = 1000;\n\n  text = text.replace(/\\b(millon|millones|mil|k|m)\\b/g, '').trim();\n  const match = text.match(/-?\\d[\\d.,]*/);\n  if (!match) return null;\n  let numberText = match[0];\n\n  const lastComma = numberText.lastIndexOf(',');\n  const lastDot = numberText.lastIndexOf('.');\n\n  if (lastComma >= 0 && lastDot >= 0) {\n    // El último separador se considera decimal; el otro, miles.\n    if (lastComma > lastDot) {\n      numberText = numberText.replace(/\\./g, '').replace(',', '.');\n    } else {\n      numberText = numberText.replace(/,/g, '');\n    }\n  } else if (lastComma >= 0 || lastDot >= 0) {\n    const separator = lastComma >= 0 ? ',' : '.';\n    const parts = numberText.split(separator);\n    if (parts.length > 2 || (parts.length === 2 && parts[1].length === 3 && multiplier === 1)) {\n      numberText = parts.join('');\n    } else if (separator === ',') {\n      numberText = numberText.replace(',', '.');\n    }\n  }\n\n  const parsed = Number(numberText) * multiplier;\n  return Number.isFinite(parsed) ? parsed : null;\n};\n\nconst extractMoneyFromText = (message, requireInvestmentContext = false) => {\n  const text = normalizeText(message);\n  const patterns = [\n    /(?:invertir|inversion|capital|destinar|monto|presupuesto)\\D{0,25}(?:usd|\\$)?\\s*(\\d[\\d.,]*)\\s*(millones?|millon|mil|k|m)?\\s*(?:usd|\\$|dolares?)?/i,\n    /(?:usd|\\$)\\s*(\\d[\\d.,]*)\\s*(millones?|millon|mil|k|m)?/i,\n    /(\\d[\\d.,]*)\\s*(millones?|millon|mil|k|m)?\\s*(?:usd|\\$|dolares?)/i,\n  ];\n  for (const pattern of patterns) {\n    const match = text.match(pattern);\n    if (!match) continue;\n    if (requireInvestmentContext && !/(invertir|inversion|capital|destinar|monto|presupuesto|usd|\\$|dolar)/i.test(match[0])) continue;\n    const parsed = parseMoney(`${match[1]} ${match[2] || ''}`);\n    if (parsed !== null) return parsed;\n  }\n  return null;\n};\n\nconst orchestratorContainer = $('Edit Fields1').first().json || {};\nconst orchestrator = parseObject(orchestratorContainer.orquestador || orchestratorContainer);\nconst agents = Array.isArray(orchestrator.agents) ? orchestrator.agents : [];\nconst commercialRequested = agents.includes('COMERCIAL');\nconst sessionId = $('Edit Fields').first().json.session.id;\nconst currentMessage = $('Edit Fields').first().json.message?.content || '';\nconst crm = (() => { try { return $('Leer Estado CRM').first().json || {}; } catch (error) { return {}; } })();\nconst history = (() => {\n  try { return $('Leer Historial Mensajes').all().map(i => i.json).filter(Boolean); }\n  catch (error) { return []; }\n})();\nconst lastAssistantMessage = [...history].reverse().find(i => i.role === 'assistant')?.content || '';\n\n// Protección determinística: un turno educativo nunca modifica el perfil comercial.\nif (!commercialRequested) {\n  return {\n    json: {\n      budget: null,\n      corporate_budget: null,\n      operating_reserve: null,\n      risk: null,\n      goal: null,\n      horizon: null,\n      prospect_type: null,\n      country: null,\n      investment_experience: null,\n      emergency_fund_status: null,\n      company_size: null,\n      decision_maker: null,\n      priority: null,\n      priority_score: null,\n      summary: null,\n      session_id: sessionId,\n      commercial_skipped: true,\n      deterministic_resolution: null\n    }\n  };\n}\n\nlet parsedAgent;\ntry {\n  const rawText = $json.output?.[0]?.content?.[0]?.text;\n  parsedAgent = parseObject(rawText);\n} catch (error) {\n  parsedAgent = { database_updates: {}, lead: {}, conversation_summary: null };\n}\n\nconst updates = parsedAgent.database_updates || {};\nconst lead = parsedAgent.lead || {};\nconst normalizedCurrent = normalizeText(currentMessage).replace(/[¡!.,;:]+$/g, '');\nconst normalizedLastAssistant = normalizeText(lastAssistantMessage);\nconst explicitYes = /^(si|correcto|exacto|asi es|de acuerdo|confirmo|afirmativo)$/.test(normalizedCurrent);\n\nlet prospectType = updates.prospect_type ?? lead.prospect_type ?? crm.prospect_type ?? null;\nconst looksB2B = prospectType === 'B2B' || /\\bempresa|negocio|corporativo|tesoreria|gerencia|nomina|proveedores\\b/i.test(normalizedCurrent);\nif (!prospectType && looksB2B) prospectType = 'B2B';\n\nlet budget = parseMoney(updates.investment_budget);\nlet corporateBudget = parseMoney(updates.corporate_budget);\nlet operatingReserve = parseMoney(updates.operating_reserve);\nlet deterministicResolution = null;\n\n// Respaldo determinístico para un monto explícito que el LLM no extrajo.\nconst explicitCurrentAmount = extractMoneyFromText(currentMessage, true);\nif (budget === null && explicitCurrentAmount !== null && /\\binvertir|inversion|capital|destinar\\b/i.test(normalizedCurrent)) {\n  budget = explicitCurrentAmount;\n  deterministicResolution = 'investment_budget_from_current_message';\n}\n\n// En B2B, \"quiero invertir X para mi empresa\" ya define el presupuesto corporativo bajo evaluación.\n// No se pide un segundo presupuesto salvo que el usuario diga explícitamente que son montos distintos.\nif (looksB2B && corporateBudget === null) {\n  if (budget !== null) {\n    corporateBudget = budget;\n    deterministicResolution = deterministicResolution || 'corporate_budget_synced_from_investment_budget';\n  } else if (crm.corporate_budget !== null && crm.corporate_budget !== undefined) {\n    corporateBudget = parseMoney(crm.corporate_budget);\n  } else if (crm.investment_budget !== null && crm.investment_budget !== undefined) {\n    corporateBudget = parseMoney(crm.investment_budget);\n    deterministicResolution = deterministicResolution || 'corporate_budget_synced_from_crm_investment_budget';\n  }\n}\n\n// Si el asistente preguntó explícitamente si un monto concreto era el presupuesto corporativo\n// y el usuario respondió \"sí\", se confirma ese mismo monto y se avanza; nunca se repite la pregunta.\nconst lastAssistantAmount = extractMoneyFromText(lastAssistantMessage, false);\nconst confirmsCorporateBudget = explicitYes\n  && /presupuesto corporativo/i.test(normalizedLastAssistant)\n  && lastAssistantAmount !== null\n  && /\\b(es|son|corresponde|corresponden|tomaremos|referencia)\\b/i.test(normalizedLastAssistant);\nif (confirmsCorporateBudget && corporateBudget === null) {\n  corporateBudget = lastAssistantAmount ?? parseMoney(crm.investment_budget);\n  deterministicResolution = 'corporate_budget_confirmed_from_previous_question';\n}\n\n// Respaldo para la nueva pregunta de liquidez operativa.\nif (operatingReserve === null\n    && /nomina|proveedores|contingencias|quedar disponible|reserva operativa|fuera de la inversion/i.test(normalizedLastAssistant)) {\n  const reserveFromCurrent = extractMoneyFromText(currentMessage, false);\n  if (reserveFromCurrent !== null) {\n    operatingReserve = reserveFromCurrent;\n    deterministicResolution = deterministicResolution || 'operating_reserve_from_current_reply';\n  }\n}\n\nreturn {\n  json: {\n    budget,\n    corporate_budget: corporateBudget,\n    operating_reserve: operatingReserve,\n    risk: updates.risk_profile ?? null,\n    goal: updates.financial_goal ?? null,\n    horizon: updates.investment_horizon ?? null,\n    prospect_type: prospectType,\n    country: updates.country ?? null,\n    investment_experience: updates.investment_experience ?? null,\n    emergency_fund_status: updates.emergency_fund_status ?? null,\n    company_size: (() => {\n  const value = updates.company_size;\n\n  if (\n    value === null ||\n    value === undefined ||\n    value === ''\n  ) {\n    return null;\n  }\n\n  const text = String(value).trim();\n\n  return /^\\d+$/.test(text)\n    ? `${text} personas`\n    : text;\n})(),\n    decision_maker: updates.decision_maker ?? null,\n    priority: updates.lead_priority ?? lead.priority ?? null,\n    priority_score: parseMoney(updates.priority_score ?? lead.priority_score),\n    summary: parsedAgent.conversation_summary ?? null,\n    session_id: sessionId,\n    commercial_skipped: false,\n    deterministic_resolution: deterministicResolution\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27088,
        17760
      ],
      "id": "cc97df90-11de-4bb5-9c13-0f3f4ac2a87a",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE fa_sessions\nSET investment_budget = COALESCE($1, investment_budget),\n    risk_profile = COALESCE($2::text, risk_profile),\n    financial_goal = COALESCE($3::text, financial_goal),\n    prospect_type = COALESCE($4::text, prospect_type),\n    lead_priority = COALESCE($5::text, lead_priority),\n    priority_score = COALESCE($6, priority_score),\n    conversation_summary = COALESCE($7::text, conversation_summary),\n    investment_horizon = COALESCE($9::text, investment_horizon),\n    country = COALESCE($10::text, country),\n    investment_experience = COALESCE($11::text, investment_experience),\n    emergency_fund_status = COALESCE($12::text, emergency_fund_status),\n    company_size = COALESCE($13::text, company_size),\n    decision_maker = COALESCE($14::text, decision_maker),\n    corporate_budget = COALESCE($15, corporate_budget),\n    operating_reserve = COALESCE($16, operating_reserve)\nWHERE id = md5($8::text)::uuid;",
        "options": {
          "queryReplacement": "=={{ [$json.budget, $json.risk, $json.goal, $json.prospect_type, $json.priority, $json.priority_score, $json.summary, $json.session_id, $json.horizon, $json.country, $json.investment_experience, $json.emergency_fund_status, $json.company_size, $json.decision_maker, $json.corporate_budget, $json.operating_reserve] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        27280,
        17808
      ],
      "id": "be6a9556-ad0b-480f-b038-7dc115b00f49",
      "name": "Execute a SQL query2",
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        26912,
        18176
      ],
      "id": "399d230a-e3da-45fa-be7d-b59f1365e26d",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "numberInputs": 4,
        "options": {
          "includeUnpaired": true
        }
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        27664,
        17936
      ],
      "id": "6df74797-630b-4d0d-8c92-200d5c86c88c",
      "name": "Merge",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// ============================================================\n// CONSOLIDACIÓN SEGURA + CONTINUIDAD + COHERENCIA DE MONTOS\n// ============================================================\nconst parseOpenAIJson = (nodeName) => {\n  try {\n    const raw = $(nodeName).first().json;\n    if (!raw) return null;\n    if (raw.profile || raw.database_updates || raw.supported !== undefined || raw.intent || raw.agents || raw.interaction_type) return raw;\n    const text = raw.output?.[0]?.content?.[0]?.text ?? raw.text ?? raw.content ?? null;\n    if (typeof text !== 'string') return raw;\n    return JSON.parse(text.replace(/```json/gi, '').replace(/```/g, '').trim());\n  } catch (error) { return null; }\n};\nconst safeNode = (name) => { try { return $(name).first().json || null; } catch (error) { return null; } };\nconst firstKnown = (...values) => values.find((value) => value !== undefined && value !== null && value !== '') ?? null;\nconst normalize = (value) => String(value ?? '').trim().toLowerCase().normalize('NFD').replace(/[\\u0300-\\u036f]/g, '');\nconst formatUSD = (value) => {\n  const n = Number(value);\n  return Number.isFinite(n) ? `$${n.toLocaleString('en-US', { maximumFractionDigits: 2 })}` : null;\n};\n\nconst orchestrator = parseOpenAIJson('Orquestador') || safeNode('Edit Fields1')?.orquestador || {};\nconst requestedAgents = Array.isArray(orchestrator.agents) ? orchestrator.agents : [];\nconst commercialRequested = requestedAgents.includes('COMERCIAL');\nconst tutorRequested = requestedAgents.includes('TUTOR');\nconst educationalOnly = tutorRequested && !commercialRequested;\n\nconst emptyCommercial = { profile: {}, lead: {}, conversation_summary: null, missing_information: [], database_updates: {} };\nconst commercialRaw = parseOpenAIJson('Agente Comercial') || emptyCommercial;\nconst commercial = commercialRequested ? commercialRaw : emptyCommercial;\nconst persisted = safeNode('Code in JavaScript1') || {};\nconst education = safeNode('Code in JavaScript2') || parseOpenAIJson('Agente Tutor');\nconst crm = safeNode('Leer Estado CRM') || {};\nconst userMessage = $('Edit Fields').first().json.message?.content || '';\n\nconst history = $('Leer Historial Mensajes').all()\n  .map((item) => ({ role: item.json.role, content: item.json.content }))\n  .filter((item) => item.role && item.content);\nconst lastAssistantMessage = [...history].reverse().find((item) => item.role === 'assistant')?.content || '';\n\nconst updates = commercial.database_updates || {};\nconst profile = commercial.profile || {};\nconst known = {\n  investment_budget: firstKnown(persisted.budget, updates.investment_budget, profile.investment_budget, crm.investment_budget),\n  risk_profile: firstKnown(persisted.risk, updates.risk_profile, profile.risk_profile, crm.risk_profile),\n  financial_goal: firstKnown(persisted.goal, updates.financial_goal, profile.financial_goal, crm.financial_goal),\n  investment_horizon: firstKnown(persisted.horizon, updates.investment_horizon, profile.investment_horizon, crm.investment_horizon),\n  emergency_fund_status: firstKnown(persisted.emergency_fund_status, updates.emergency_fund_status, profile.emergency_fund_status, crm.emergency_fund_status),\n  country: firstKnown(persisted.country, updates.country, profile.country, crm.country),\n  investment_experience: firstKnown(persisted.investment_experience, updates.investment_experience, profile.investment_experience, profile.experience, crm.investment_experience),\n  company_size: firstKnown(persisted.company_size, updates.company_size, profile.company_size, crm.company_size),\n  decision_maker: firstKnown(persisted.decision_maker, updates.decision_maker, profile.decision_maker, crm.decision_maker),\n  corporate_budget: firstKnown(persisted.corporate_budget, updates.corporate_budget, profile.corporate_budget, crm.corporate_budget),\n  operating_reserve: firstKnown(persisted.operating_reserve, updates.operating_reserve, profile.operating_reserve, crm.operating_reserve),\n  asset_price: firstKnown(profile.asset_price, profile.price, profile.precio_bien),\n  down_payment: firstKnown(profile.down_payment, profile.entrada, profile.pago_inicial),\n  financing_term: firstKnown(profile.financing_term, profile.plazo_financiamiento),\n  interest_rate: firstKnown(profile.interest_rate, profile.tasa_interes),\n  prospect_type: firstKnown(persisted.prospect_type, updates.prospect_type, commercial.lead?.prospect_type, profile.prospect_type, crm.prospect_type)\n};\n\nconst currentText = normalize(userMessage);\nconst isB2B = commercialRequested && (known.prospect_type === 'B2B' || /\\bempresa|negocio|corporativo|tesoreria|gerencia|nomina|proveedores\\b/i.test(currentText));\n\n// Regla determinística: un monto explícitamente destinado a invertir por una empresa\n// también es el presupuesto corporativo bajo evaluación, salvo que el usuario diferencie ambos.\nif (isB2B && known.corporate_budget === null && known.investment_budget !== null) {\n  known.corporate_budget = known.investment_budget;\n}\n\n// Reflejamos la resolución determinística dentro de la vista comercial del turno.\ncommercial.database_updates = { ...(commercial.database_updates || {}) };\nif (persisted.budget !== null && persisted.budget !== undefined) commercial.database_updates.investment_budget = persisted.budget;\nif (persisted.corporate_budget !== null && persisted.corporate_budget !== undefined) commercial.database_updates.corporate_budget = persisted.corporate_budget;\nif (persisted.operating_reserve !== null && persisted.operating_reserve !== undefined) commercial.database_updates.operating_reserve = persisted.operating_reserve;\nif (persisted.prospect_type) commercial.database_updates.prospect_type = persisted.prospect_type;\n\nconst aliases = {\n  budget: 'investment_budget', presupuesto: 'investment_budget', capital: 'investment_budget',\n  risk: 'risk_profile', riesgo: 'risk_profile', goal: 'financial_goal', objetivo: 'financial_goal',\n  horizon: 'investment_horizon', horizonte: 'investment_horizon', experience: 'investment_experience',\n  experiencia: 'investment_experience', 'fondo de emergencia': 'emergency_fund_status',\n  'tamano de empresa': 'company_size', 'tamaño de empresa': 'company_size',\n  'responsable de decision': 'decision_maker', 'presupuesto corporativo': 'corporate_budget',\n  'reserva operativa': 'operating_reserve', 'liquidez operativa': 'operating_reserve',\n  'precio del bien': 'asset_price', entrada: 'down_payment', plazo: 'financing_term', tasa: 'interest_rate'\n};\nconst normalizeField = (field) => aliases[normalize(field)] || field;\n\nlet missing = commercialRequested && Array.isArray(commercial.missing_information)\n  ? commercial.missing_information.map(normalizeField)\n  : [];\nmissing = [...new Set(missing)].filter((field) => !(field in known) || known[field] === null);\n\nconst hasStoredInvestmentProfile = Boolean(crm.investment_budget || crm.financial_goal || crm.investment_horizon || crm.risk_profile);\nconst hasStoredFinancingProfile = Boolean(profile.asset_price || profile.down_payment || profile.financing_term);\nconst looksLikeInvestment = commercialRequested && (/\\binvertir|inversion|capital|rentabilizar|hacer crecer|portafolio\\b/i.test(currentText) || hasStoredInvestmentProfile || isB2B);\nconst looksLikeFinancing = commercialRequested && (/\\bcomprar|financiar|credito|prestamo|hipoteca|casa|vivienda|carro|vehiculo|moto\\b/i.test(currentText) || hasStoredFinancingProfile) && !looksLikeInvestment;\n\nconst priority = isB2B\n  ? ['company_size', 'decision_maker', 'corporate_budget', 'operating_reserve']\n  : looksLikeFinancing\n    ? ['asset_price', 'down_payment', 'financing_term', 'interest_rate']\n    : ['investment_horizon', 'risk_profile', 'financial_goal', 'emergency_fund_status', 'investment_budget'];\n\nif (commercialRequested && (looksLikeInvestment || looksLikeFinancing || isB2B)) {\n  for (const field of priority) if (known[field] === null && !missing.includes(field)) missing.push(field);\n} else if (!commercialRequested) {\n  missing = [];\n}\n\n// Nunca pedir corporate_budget si ya existe investment_budget para un B2B.\nif (isB2B && known.investment_budget !== null) {\n  missing = missing.filter(field => field !== 'corporate_budget');\n}\ncommercial.missing_information = missing;\nconst nextMissingField = commercialRequested ? (priority.find((field) => missing.includes(field)) || missing[0] || null) : null;\n\nconst hasNewData = commercialRequested && (\n  Object.keys(commercial.database_updates || {}).some((key) => commercial.database_updates[key] !== undefined && commercial.database_updates[key] !== null)\n  || Boolean(persisted.deterministic_resolution)\n);\nconst profileComplete = priority.every((field) => known[field] !== null || field === 'interest_rate');\nconst profileAlreadyConfirmed = commercialRequested && !hasNewData && profileComplete && (looksLikeInvestment || looksLikeFinancing || isB2B);\n\nconst normalizedMessage = normalize(userMessage).replace(/[¡!.,;:]+$/g, '');\nconst explicitAcceptance = /^(si|si por favor|por favor|dale|de acuerdo|ok|okay|hazlo|procede|continua|adelante|ayudame con eso|haz eso|correcto|exacto)$/i.test(normalizedMessage);\nconst previousAssistantOfferedAction = /\\b(puedo|podemos|te preparo|te explico|te muestro|te ayudo|quieres que|deseas que|avanzamos|continuamos)\\b/i.test(lastAssistantMessage);\nconst forceDeliveryNow = explicitAcceptance && previousAssistantOfferedAction;\nconst ambiguousFollowup = /^(¿?\\?+|que|como|no entiendo|no entendi|explicame|como asi|a que te refieres)$/i.test(normalizedMessage);\nconst greetingOnly = /^(hola|buenas|buenos dias|buenas tardes|buenas noches|hey)$/i.test(normalizedMessage);\nconst thanksOnly = /^(gracias|muchas gracias|gracias ya entendi|ya entendi|entendido)$/i.test(normalizedMessage);\nconst consentResponse = education?.interaction_type === 'CONSENT_ONLY';\n\nconst corporateBudgetNumber = Number(known.corporate_budget);\nconst operatingReserveNumber = Number(known.operating_reserve);\nconst netDeployableCapital = Number.isFinite(corporateBudgetNumber) && Number.isFinite(operatingReserveNumber)\n  ? Math.max(0, corporateBudgetNumber - operatingReserveNumber)\n  : null;\n\nconst lastQuestionWasDuplicateCorporateBudget = isB2B\n  && /presupuesto corporativo/i.test(normalize(lastAssistantMessage))\n  && known.corporate_budget !== null;\n\nreturn {\n  json: {\n    user_message: userMessage,\n    intent: orchestrator.intent || null,\n    requested_agents: requestedAgents,\n    commercial_requested: commercialRequested,\n    educational_only: educationalOnly,\n    commercial,\n    education,\n    crm,\n    known_profile: known,\n    canonical_amounts: {\n      investment_budget: known.investment_budget,\n      investment_budget_display: formatUSD(known.investment_budget),\n      corporate_budget: known.corporate_budget,\n      corporate_budget_display: formatUSD(known.corporate_budget),\n      operating_reserve: known.operating_reserve,\n      operating_reserve_display: formatUSD(known.operating_reserve)\n    },\n    derived_profile: {\n      net_deployable_capital: netDeployableCapital,\n      net_deployable_capital_display: formatUSD(netDeployableCapital)\n    },\n    missing_information: missing,\n    next_missing_field: nextMissingField,\n    profile_already_confirmed: profileAlreadyConfirmed,\n    forzar_entrega_ahora: forceDeliveryNow,\n    ambiguous_followup: ambiguousFollowup,\n    greeting_only: greetingOnly,\n    thanks_only: thanksOnly,\n    consent_response: consentResponse,\n    last_assistant_message: lastAssistantMessage,\n    last_question_was_duplicate_corporate_budget: lastQuestionWasDuplicateCorporateBudget,\n    deterministic_resolution: persisted.deterministic_resolution || null,\n    active_financial_context: commercialRequested && (looksLikeInvestment || looksLikeFinancing || isB2B)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27824,
        17968
      ],
      "id": "0a5a902c-f509-480e-a2f6-5acaf7151c6e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "765cca73-c050-4439-a342-27f784a0db12",
              "leftValue": "={{ $json.orquestador.agents }}",
              "rightValue": "TUTOR",
              "operator": {
                "type": "array",
                "operation": "contains",
                "rightType": "any"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        26512,
        18096
      ],
      "id": "48ad6625-d82c-4e2a-863d-a86899edb23f",
      "name": "If"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-luna",
          "mode": "list",
          "cachedResultName": "GPT-5.6-LUNA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "# IDENTIDAD\nEres el Agente Tutor de un sistema multiagente para un CRM financiero.\nNo conversas directamente con el usuario. Entregas un JSON estructurado al Agente General.\n\n# FUENTE ÚNICA AUTORIZADA\nRecibirás un arreglo \"approved_content\" obtenido desde la tabla fa_education_content.\nCada registro fue marcado como \"approved\" por un responsable humano.\n\nREGLAS OBLIGATORIAS:\n1. Solo puedes explicar un tema cuando exista al menos un registro relevante dentro de approved_content.\n2. No uses conocimientos externos, memoria general del modelo ni cifras que no aparezcan en esos registros.\n3. Si no existe contenido aprobado relevante, devuelve supported=false.\n4. Cuando supported=true, el campo source debe copiar exactamente los datos del registro utilizado.\n5. Nunca escribas \"Futuro Academy\" como fuente por defecto si no existe un registro aprobado que lo respalde.\n6. Puedes resumir y simplificar el contenido, pero no alterar su significado.\n\n\n\n# CONSULTA DE CONTENIDOS DISPONIBLES\nTambién recibirás \"request_type\" y \"available_topics\".\nSi request_type=\"LIST_APPROVED_CONTENT\":\n- no expliques un concepto;\n- no selecciones una fuente individual;\n- devuelve interaction_type=\"LIST_APPROVED_CONTENT\";\n- supported=true cuando available_topics tenga al menos un elemento;\n- copia available_topics en la salida;\n- source=null;\n- recommended_followup=\"NONE\";\n- no pidas ni infieras consentimiento.\n\n# OBJETIVO EDUCATIVO\nCuando haya contenido aprobado relevante:\n- explica el concepto de forma sencilla;\n- identifica ventajas, limitaciones y riesgos presentes en la fuente;\n- incluye un ejemplo sencillo solo si puede derivarse del contenido aprobado;\n- propone una ruta breve de aprendizaje de 2 o 3 temas, o un quiz de exactamente 3 preguntas;\n- adapta el nivel a BEGINNER, INTERMEDIATE o ADVANCED.\n\n# CONSENTIMIENTO COMERCIAL\nEl interés educativo y la autorización comercial son cosas distintas.\n\nUsa consent_flag así:\n- true: el usuario autorizó explícitamente guardar el tema como interés comercial o ser contactado;\n- false: el usuario lo negó explícitamente;\n- null: no se pidió, no respondió o no existe evidencia clara.\n\nNo infieras consentimiento por el hecho de que el usuario pregunte por un tema.\n\nSi el mensaje actual es únicamente una respuesta a una solicitud de consentimiento, usa:\n- interaction_type=\"CONSENT_ONLY\";\n- topic = crm.educational_topic o crm.topic_of_interest;\n- consent_flag según la respuesta;\n- supported=false;\n- source=null;\n- no repitas la explicación educativa.\n\n# ELECCIÓN DE SEGUIMIENTO EDUCATIVO\n- recommended_followup=\"QUIZ\" cuando el usuario pida evaluación, prueba, preguntas o quiz.\n- recommended_followup=\"LEARNING_PATH\" para una explicación educativa normal.\n- recommended_followup=\"NONE\" cuando no hay contenido aprobado o el turno es solo de consentimiento.\n\nCuando recommended_followup=\"QUIZ\", quiz debe contener exactamente 3 preguntas y learning_path debe estar vacío.\nCuando recommended_followup=\"LEARNING_PATH\", learning_path debe contener entre 2 y 3 temas y quiz debe estar vacío.\n\n# FORMATO DE SALIDA\nResponde únicamente JSON válido, sin markdown:\n{\n  \"interaction_type\": \"EDUCATION\" | \"LIST_APPROVED_CONTENT\" | \"CONSENT_ONLY\" | \"UNSUPPORTED\",\n  \"supported\": true,\n  \"topic\": \"\",\n  \"available_topics\": [],\n  \"source\": {\n    \"content_id\": \"\",\n    \"organization\": \"\",\n    \"document\": \"\",\n    \"section\": \"\",\n    \"version\": \"\",\n    \"approved_by\": \"\",\n    \"approved_at\": \"\"\n  },\n  \"level\": \"BEGINNER\" | \"INTERMEDIATE\" | \"ADVANCED\",\n  \"definition\": \"\",\n  \"explanation\": \"\",\n  \"advantages\": [],\n  \"disadvantages\": [],\n  \"risks\": [],\n  \"example\": \"\",\n  \"learning_path\": [],\n  \"quiz\": [],\n  \"recommended_followup\": \"LEARNING_PATH\" | \"QUIZ\" | \"NONE\",\n  \"consent_flag\": null\n}\n\nSi supported=false, source debe ser null y los campos educativos deben estar vacíos."
            },
            {
              "content": "=={{\nJSON.stringify({\n  message: $('Edit Fields').item.json.message.content,\n  history: ($('Leer Historial Mensajes').all().map(i => (i.json.role === 'user' ? 'Usuario' : 'Asistente') + ': ' + i.json.content).join('\\n') || 'Sin historial previo.'),\n  crm: $('Leer Estado CRM').first().json,\n  request_type: $('Consolidar Base Educativa').first().json.request_type,\n  available_topics: $('Consolidar Base Educativa').first().json.available_topics,\n  approved_content: $('Consolidar Base Educativa').first().json.approved_content\n}, null, 2)\n}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        27008,
        17984
      ],
      "id": "fe5f38f2-6a7d-4223-a0dd-f67b9541bd2b",
      "name": "Agente Tutor",
      "credentials": {
        "openAiApi": {
          "id": "U7150gU3UWesjCta",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-luna",
          "mode": "list",
          "cachedResultName": "GPT-5.6-LUNA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "# IDENTIDAD\nEres el Agente Comercial de un sistema multiagente para un CRM Inteligente Financiero.\nTu responsabilidad es analizar la conversación, extraer información comercial estructurada y determinar qué datos deben actualizarse en la base de datos.\n\n\n# REGLA SUPERIOR DE COHERENCIA B2B Y MONTOS\nEstas reglas tienen prioridad sobre las reglas B2B posteriores:\n\n1. En un prospecto B2B, si el usuario dice explícitamente \"quiero invertir X\", \"destinaremos X\" o equivalente para la empresa, X ya es:\n- investment_budget; y\n- corporate_budget bajo evaluación,\nsalvo que el usuario diga claramente que el presupuesto corporativo total y el monto a invertir son diferentes.\n\n2. Si crm.investment_budget tiene valor y crm.corporate_budget es null para un B2B, considera corporate_budget conocido con el mismo valor. No incluyas \"corporate_budget\" en missing_information y no solicites un segundo presupuesto.\n\n3. Si el asistente preguntó si un monto conocido corresponde al presupuesto corporativo y el usuario responde \"sí\", \"correcto\" o equivalente, confirma ese mismo monto. No inventes otro valor y no vuelvas a hacer la misma pregunta.\n\n4. Preserva los montos exactamente. Ejemplo: 400000 significa cuatrocientos mil y debe representarse como 400000 en JSON. Nunca lo reduzcas a 400 por el uso de comas, puntos o formato monetario.\n\n5. Para un B2B que ya indicó monto, tamaño y responsable de decisión, el siguiente dato relevante es \"operating_reserve\": cuánto capital debe permanecer disponible para nómina, proveedores y contingencias, no otro presupuesto corporativo.\n\n6. operating_reserve es un número limpio y representa el monto que debe quedar líquido o fuera de la inversión para sostener la operación.\n\n\n\n# REGLA DE ACTIVACIÓN OBLIGATORIA\nRecibirás el resultado del Orquestador dentro de \"conversation\".\nSi conversation.agents NO contiene \"COMERCIAL\", este turno no es comercial. En ese caso:\n- no extraigas ni infieras perfil;\n- no clasifiques al usuario como B2B o B2C;\n- no agregues datos faltantes;\n- no generes cambios de base de datos;\n- conserva conversation_summary como null.\nDevuelve exactamente:\n{\n  \"profile\": {},\n  \"lead\": {\"prospect_type\":\"NO_DEFINIDO\",\"priority\":\"BAJA\",\"priority_score\":0,\"interest_level\":0,\"urgency\":0},\n  \"conversation_summary\": null,\n  \"profile_completion\": 0,\n  \"missing_information\": [],\n  \"database_updates\": {}\n}\nEsta regla tiene prioridad sobre cualquier otra instrucción.\n\n# OBJETIVO\nAnalizar el contexto y devolver un JSON con la información extraída y las instrucciones de actualización para la base de datos.\n\n# REGLA CRÍTICA DE MEMORIA\nRecibirás un bloque \"crm\" con los datos ya confirmados y guardados en base de datos en turnos anteriores (investment_budget, risk_profile, financial_goal, investment_horizon, prospect_type, country, investment_experience, emergency_fund_status, company_size, decision_maker, corporate_budget, operating_reserve, conversation_summary).\nSi un campo de \"crm\" tiene un valor distinto de null, ese dato YA se conoce con certeza: NUNCA lo incluyas en \"missing_information\", aunque el mensaje de este turno no lo repita. Solo incluye en \"missing_information\" los campos que sigan siendo null tanto en \"crm\" como en lo extraído de este turno.\n\n# TAREAS DE BASE DE DATOS\nCuando detectes nueva información, genera un objeto `database_updates` en el JSON con los campos y valores que deben actualizarse.\n\nREGLA PARA CAMPOS NUMÉRICOS (investment_budget, corporate_budget, operating_reserve, priority_score): deben ser SIEMPRE un único número limpio (ej. 200), nunca una lista, un rango ni texto (nada como \"200, 150\", \"200-300\" o \"200 dólares\"). Si el mensaje del usuario menciona varios montos distintos y no queda claro cuál es el presupuesto de inversión (por ejemplo, menciona un monto inicial y otro periódico, o menciona un monto junto con un producto como \"acciones\"), NO adivines combinándolos en un solo valor: dado que es ambiguo, deja investment_budget fuera de \"database_updates\" en este turno (así el sistema puede volver a preguntar de forma puntual) en vez de guardar un dato incorrecto.\n\nAclaración importante: esta regla de ambigüedad aplica a la columna \"investment_budget\", no al campo \"profile\". Cuando el objetivo del usuario NO es invertir sino adquirir un bien (ej. \"comprar un carro\", \"comprar una casa\"), el precio del bien y la entrada no son dos valores ambiguos del mismo dato: son dos datos distintos y legítimos. Ninguno de los dos debe forzarse dentro de \"investment_budget\" (esa columna es solo para presupuesto de inversión), pero AMBOS deben quedar registrados en \"profile\" y reflejados en \"conversation_summary\" (ver abajo) para no perderse en el siguiente turno.\n\n# INFORMACIÓN A EXTRAER\nUsa \"profile\" para reunir, en cada turno, todo el contexto útil que puedas inferir de la conversación -- aunque no todo tenga columna propia en base de datos:\n\n- Datos personales: nombre, país, ocupación (solo si se mencionan).\n- Datos de inversión: investment_budget, risk_profile, investment_horizon, financial_goal, prospect_type.\n- Datos de compra/financiamiento (cuando el objetivo es adquirir un bien y no invertir capital): precio o valor total del bien, monto de entrada o pago inicial, plazo deseado, monto a financiar (precio - entrada) si ya se puede obtener, y cualquier tasa de interés que el usuario haya mencionado.\n\nEl único lugar donde reportas cambios a GUARDAR en base de datos es \"database_updates\". Inclúyelo ÚNICAMENTE con los campos que el usuario mencionó o cambió en el mensaje de ESTE turno (o que aparecen por primera vez en el historial y aún no están en \"crm\"). Si un dato ya existe en \"crm\" con valor distinto de null y el usuario no lo repitió en este turno, NO lo incluyas en \"database_updates\" — déjalo fuera del objeto (no le pongas null, no repitas el valor viejo). El campo \"profile\" es de lectura para este turno y no se guarda columna por columna, pero SÍ debe verse reflejado en \"conversation_summary\" cuando contenga datos que de otra forma se perderían (ver siguiente sección).\n\n# CONTINUIDAD DEL RESUMEN (conversation_summary)\nRecibirás en \"crm.conversation_summary\" el resumen guardado en el turno anterior (o null si es el primer turno). Tu \"conversation_summary\" de salida debe partir de ese resumen anterior y ampliarlo con lo nuevo de este turno -- no lo reemplaces por uno genérico ni lo acortes perdiendo información previa. Si en la conversación aparecen cifras concretas de una compra o financiamiento (precio del bien, entrada, plazo, tasa, cuota ya calculada), consérvalas explícitamente en el resumen aunque no tengan columna propia en base de datos: es la única forma en que ese dato sobrevive al siguiente turno.\n\n# CLASIFICACIÓN DEL PROSPECTO\nDetermina si el prospecto es B2B o B2C según el contexto:\n- B2B: menciona empresa, equipo, negocio, inversión corporativa, tesorería.\n- B2C: habla en primera persona sobre sus finanzas personales.\nSi no hay evidencia suficiente, usa \"NO_DEFINIDO\".\n\nSegún el tipo, prioriza estas preguntas (no las hagas todas de golpe, máximo 2 por turno):\n\nB2B:\n- ¿Qué tamaño tiene la empresa/equipo?\n- ¿Quién toma la decisión de inversión?\n- ¿Qué presupuesto corporativo manejan?, solo si todavía no existe un monto explícito de inversión.\n- ¿Qué monto debe permanecer como reserva operativa para nómina, proveedores y contingencias?\n\nB2C -- si el objetivo es invertir (ahorrar, invertir, hacer crecer capital):\n- ¿Cuál es tu horizonte de inversión?\n- ¿Qué nivel de riesgo te sientes cómodo asumiendo?\n- ¿Cuál es tu objetivo financiero principal?\n\nB2C -- si el objetivo es adquirir un bien con financiamiento (ej. comprar un carro, una casa):\n- ¿Cuál es el precio o valor del bien?\n- ¿Cuánto piensas dar de entrada o pago inicial?\n- ¿En qué plazo te gustaría pagarlo?\n\"risk_profile\" NO aplica a este tipo de objetivo: no lo incluyas en \"missing_information\" salvo que el usuario esté evaluando invertir ese dinero en vez de usarlo como entrada.\n\n\n# REGLA DE NORMALIZACIÓN DE DATOS FALTANTES\nEn \"missing_information\" usa únicamente identificadores técnicos, nunca preguntas ni descripciones.\n\nB2C inversión:\n- \"investment_horizon\"\n- \"risk_profile\"\n- \"financial_goal\"\n- \"investment_budget\"\n- \"emergency_fund_status\"\n- \"country\"\n- \"investment_experience\"\n\nB2B:\n- \"company_size\"\n- \"decision_maker\"\n- \"corporate_budget\" solo cuando no exista investment_budget\n- \"operating_reserve\"\n\nB2C financiamiento:\n- \"asset_price\"\n- \"down_payment\"\n- \"financing_term\"\n- \"interest_rate\"\n\nPara una inversión B2C con presupuesto conocido pero sin horizonte, riesgo u objetivo, el array debe comenzar con:\n[\"investment_horizon\", \"risk_profile\", \"financial_goal\"]\n\nPara un prospecto B2B, prioriza:\n- si ya existe investment_budget: [\"company_size\", \"decision_maker\", \"operating_reserve\"]\n- si no existe ningún monto: [\"company_size\", \"decision_maker\", \"corporate_budget\", \"operating_reserve\"]\n\nNo consideres completo un perfil de inversión solo porque el usuario indicó un presupuesto. El Agente General obtendrá el texto exacto de la pregunta desde fa_question_config; tú solo debes identificar el field_name faltante.\n\n# CÁLCULO DE PRIORIDAD DEL LEAD\nCalcula \"priority_score\" (0-100) combinando:\n- interés mostrado (0-25): qué tan activamente pregunta/participa\n- presupuesto mencionado (0-25): mayor monto = mayor score\n- perfil completo (0-25): cuántos datos clave ya tienes\n- urgencia (0-25): lenguaje que indique decisión inminente\n\nClasifica \"priority\" como \"ALTA\" (70-100), \"MEDIA\" (40-69), \"BAJA\" (0-39).\n\n# ESTRUCTURA DE SALIDA\nDebes devolver un JSON con esta estructura exacta:\n\n{\n  \"profile\": { ... },\n  \"lead\": {\n    \"prospect_type\": \"B2B\" | \"B2C\" | \"NO_DEFINIDO\",\n    \"priority\": \"ALTA\" | \"MEDIA\" | \"BAJA\",\n    \"priority_score\": 0,\n    \"interest_level\": 0,\n    \"urgency\": 0\n  },\n  \"conversation_summary\": \"resumen breve de la conversación hasta ahora\",\n  \"profile_completion\": 0,\n  \"missing_information\": [],\n  \"database_updates\": {\n    \"investment_budget\": null,\n    \"risk_profile\": null,\n    \"financial_goal\": null,\n    \"investment_horizon\": null,\n    \"prospect_type\": null,\n    \"country\": null,\n    \"investment_experience\": null,\n    \"emergency_fund_status\": null,\n    \"company_size\": null,\n    \"decision_maker\": null,\n    \"corporate_budget\": null,\n    \"operating_reserve\": null,\n    \"lead_priority\": null,\n    \"priority_score\": null\n  }\n}\n\n# REGLAS\n- Si no hay cambios en los datos, \"database_updates\" debe ser un objeto vacío {}.\n- Solo incluye en \"database_updates\" los campos que tengan un valor nuevo.\n- Mantén el resto de las reglas de extracción intactas."
            },
            {
              "content": "=={{\nJSON.stringify({\n    message: $('Edit Fields').item.json.message.content,\n    conversation: $('Edit Fields1').item.json.orquestador,\n    history: ($('Leer Historial Mensajes').all().map(i => (i.json.role === 'user' ? 'Usuario' : 'Asistente') + ': ' + i.json.content).join('\\n') || 'Sin historial previo.'),\n    crm: $('Leer Estado CRM').first().json\n}, null, 2)\n}}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        26800,
        17760
      ],
      "id": "f4e3ed01-cb22-4059-9dac-0f544ce49b89",
      "name": "Agente Comercial",
      "credentials": {
        "openAiApi": {
          "id": "U7150gU3UWesjCta",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.6-luna",
          "mode": "list",
          "cachedResultName": "GPT-5.6-LUNA"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Eres el Orquestador de un sistema financiero multiagente.\n\nTu única responsabilidad es analizar el mensaje actual junto con el historial reciente y decidir qué agentes deben intervenir. No converses con el usuario, no saludes y no respondas la consulta.\n\nDevuelve únicamente JSON válido, sin Markdown:\n\n{\n  \"intent\": \"GREETING | LEARN_CONCEPT | LIST_APPROVED_CONTENT | SALES_INQUIRY | CLARIFICATION | CONTINUE_PREVIOUS | THANKS | FAREWELL | OTHER\",\n  \"goal\": \"resumen breve del objetivo actual\",\n  \"agents\": [\"COMERCIAL\" | \"TUTOR\"]\n}\n\nREGLAS\n\n1. Usa el historial para interpretar mensajes cortos.\nNo clasifiques “?”, “¿cómo?”, “no entiendo”, “sí”, “dale”, “hazlo” o “ayúdame con eso” de forma aislada. Relaciónalos con el último mensaje del asistente.\n\n2. Incluye COMERCIAL cuando:\n- el usuario expresa intención de invertir, ahorrar, financiar o comprar;\n- aporta presupuesto, plazo, riesgo, objetivo, país, experiencia u otro dato de perfil;\n- responde a una pregunta comercial previa;\n- confirma que desea continuar con un plan u orientación personalizada.\n\n3. Incluye TUTOR cuando:\n- pide una explicación, definición o comparación financiera;\n- dice que no entiende una explicación;\n- pregunta por riesgos, diversificación, inflación, rentabilidad, acciones, bonos, ETF, fondos, ahorro o conceptos relacionados;\n- el mensaje “?” o “¿cómo?” se refiere a una explicación financiera anterior.\n\n4. Puedes incluir ambos agentes cuando el usuario quiere orientación práctica y también necesita una explicación.\n\n5. Mensajes ambiguos:\n- “?” después de una pregunta de perfil: intent CLARIFICATION y agents [\"COMERCIAL\"].\n- “?” o “no entiendo” después de una explicación financiera: intent CLARIFICATION y agents [\"TUTOR\"] o ambos si el contexto también es comercial.\n- “sí”, “dale”, “hazlo”, “continúa”: intent CONTINUE_PREVIOUS y conserva los agentes necesarios para ejecutar lo ofrecido anteriormente.\n- “gracias” con un objetivo financiero activo: intent THANKS; incluye COMERCIAL si todavía se está construyendo el perfil.\n- Un saludo es GREETING con agents [] solo cuando no existe un objetivo activo en el historial.\n- Una despedida clara es FAREWELL con agents [].\n\n6. Si el mensaje aporta un monto como “quiero invertir 30000”, la clasificación correcta es:\n{\n  \"intent\": \"SALES_INQUIRY\",\n  \"goal\": \"Desea orientación para invertir un capital de $30,000\",\n  \"agents\": [\"COMERCIAL\"]\n}\n\n7. No inventes datos ni selecciones agentes sin relación con el contexto.\n\n\nREGLA DE CONSENTIMIENTO EDUCATIVO:\n- Si el mensaje responde a una pregunta sobre autorizar guardar un tema educativo o ser contactado (ej. \"sí, autorizo\", \"pueden contactarme\", \"no autorizo\", \"no guarden eso\"), incluye \"TUTOR\" para que el consentimiento sea registrado y, si aporta información comercial, también \"COMERCIAL\".\n- Usa el historial para distinguir una aceptación comercial de una aceptación para continuar una explicación.\n- Una consulta educativa normal no implica consentimiento.\n\n8. CONSULTAS SOBRE LA BASE EDUCATIVA:\n- Si el usuario pregunta qué contenidos, temas, cursos, fuentes o materiales aprobados están disponibles (por ejemplo: \"¿qué contenidos aprobados tienes?\", \"¿sobre qué temas puedes enseñarme?\"), usa intent=\"LIST_APPROVED_CONTENT\" y agents=[\"TUTOR\"].\n- No incluyas COMERCIAL en una consulta puramente educativa o sobre disponibilidad de contenido, salvo que el mensaje actual también exprese de forma explícita una intención de invertir, comprar, financiar o recibir asesoría personalizada.\n- No uses palabras dichas por el propio asistente en turnos anteriores como evidencia de intención comercial del usuario.\n\nEJEMPLO:\nUsuario: \"¿Sobre qué contenidos aprobados tienes información?\"\nSalida: {\"intent\":\"LIST_APPROVED_CONTENT\",\"goal\":\"Quiere conocer los temas educativos aprobados disponibles\",\"agents\":[\"TUTOR\"]}\n\n\n9. CONFIRMACIONES DE DATOS B2B:\n- Si el último mensaje del asistente pregunta si un monto concreto corresponde al presupuesto corporativo y el usuario responde \"sí\", \"correcto\", \"exacto\" o equivalente, usa intent=\"CONTINUE_PREVIOUS\" y agents=[\"COMERCIAL\"].\n- El objetivo debe indicar que confirma el monto ya mencionado; no inventes ni reduzcas la cifra.\n- Si el usuario dice \"no entiendo\" después de una pregunta comercial, usa intent=\"CLARIFICATION\" y agents=[\"COMERCIAL\"].\n"
            },
            {
              "content": "==Historial reciente:\n{{ $('Leer Historial Mensajes').all().map(i => (i.json.role === 'user' ? 'Usuario' : 'Asistente') + ': ' + i.json.content).join('\\n') || 'Sin historial previo.' }}\n\nMensaje actual del usuario:\n{{ $('Edit Fields').item.json.message.content }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        26032,
        17936
      ],
      "id": "ecd30aba-2e62-4fc7-b0ff-b9093b67e4e6",
      "name": "Orquestador",
      "credentials": {
        "openAiApi": {
          "id": "U7150gU3UWesjCta",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6edf7dd1-e3f1-43f6-aa3c-b3a90988338f",
              "name": "orquestador",
              "value": "={{ $json.output[0].content[0].text }}",
              "type": "object"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        26336,
        17936
      ],
      "id": "6c8e60cc-b52d-4cc8-8572-d9750b4f77a2",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fa_messages (session_id, role, content)\nVALUES (md5($1)::uuid, 'user', $2);",
        "options": {
          "queryReplacement": "=[\n  \"{{ $('Edit Fields').item.json.session.id }}\",\n  \"{{ $('Edit Fields').item.json.message.content }}\"\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        25824,
        17936
      ],
      "id": "1dff83ad-28a4-4652-a986-8a611bf1f182",
      "name": "Execute a SQL query1",
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO fa_sessions (id, status) \nVALUES (md5($1)::uuid, 'active')\nON CONFLICT (id) DO UPDATE SET updated_at = CURRENT_TIMESTAMP;",
        "options": {
          "queryReplacement": "=[\n  \"{{ $('Edit Fields').item.json.session.id }}\"\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        25616,
        18016
      ],
      "id": "7f7b6cb9-a941-41c2-bc38-c918aec8eb20",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "=={{ JSON.stringify({\n  session: { id: $json.body.session?.id ?? $execution.id },\n  message: {\n    content: (function(raw) {\n      if (raw == null) return '';\n      if (typeof raw === 'string') return raw.trim();\n      if (typeof raw === 'number' || typeof raw === 'boolean') return String(raw);\n      if (Array.isArray(raw)) {\n        return raw.map(item => {\n          if (typeof item === 'string') return item;\n          if (item && typeof item === 'object') return item.text ?? item.content ?? '';\n          return '';\n        }).filter(Boolean).join('\\n').trim();\n      }\n      if (typeof raw === 'object') {\n        if (typeof raw.content === 'string') return raw.content.trim();\n        if (Array.isArray(raw.content)) {\n          return raw.content.map(b => (b && typeof b === 'object' ? (b.text ?? '') : b)).filter(Boolean).join('\\n').trim();\n        }\n        if (typeof raw.text === 'string') return raw.text.trim();\n      }\n      return '';\n    })($json.body.message)\n  },\n  history: $json.body.history ?? [],\n  conversation: $json.body.conversation ?? {},\n  crm: $json.body.crm ?? {},\n  memory: $json.body.memory ?? {}\n}) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        25408,
        17936
      ],
      "id": "90be9281-b28e-43b8-9cc1-95c3e669bf45",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        25200,
        17936
      ],
      "id": "4649fd63-af18-42a5-b90e-1263b5378e45",
      "name": "Webhook",
      "webhookId": "00f5393d-785a-445f-b000-c9e6a6d4e528"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT investment_budget, risk_profile, financial_goal, prospect_type,\n       investment_horizon, conversation_summary, country,\n       investment_experience, emergency_fund_status, company_size,\n       decision_maker, corporate_budget, operating_reserve, educational_topic,\n       topic_of_interest, topic_consent, topic_consent_at, topic_consent_for\nFROM fa_sessions\nWHERE id = md5($1)::uuid;",
        "options": {
          "queryReplacement": "=[\n  \"{{ $json.session.id }}\"\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        26784,
        18368
      ],
      "id": "ad4f5225-8c15-4c44-901d-4f0b1e975a77",
      "name": "Leer Estado CRM",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT role, content FROM (\n  SELECT role, content, created_at\n  FROM fa_messages\n  WHERE session_id = md5($1)::uuid\n  ORDER BY created_at DESC\n  LIMIT 20\n) ultimos\nORDER BY created_at ASC;",
        "options": {
          "queryReplacement": "=[\n  \"{{ $('Edit Fields').item.json.session.id }}\"\n]"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        25392,
        18224
      ],
      "id": "aa628a97-e15a-4fe8-9acf-636945035b1e",
      "name": "Leer Historial Mensajes",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, topic, title, content, source_org, source_document,\n       source_section, version, approved_by, approved_at, keywords\nFROM fa_education_content\nWHERE approval_status = 'approved'\n  AND is_active = TRUE\nORDER BY topic ASC, updated_at DESC\nLIMIT 50;",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        26688,
        17984
      ],
      "id": "6cedec58-0770-4628-baae-0cae62db7a1e",
      "name": "Buscar Contenido Educativo Aprobado",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const normalize = (value) => String(value || '')\n  .toLowerCase()\n  .normalize('NFD')\n  .replace(/[\\u0300-\\u036f]/g, '');\n\nconst parseObject = (value) => {\n  if (value && typeof value === 'object') return value;\n  if (typeof value !== 'string') return {};\n  try { return JSON.parse(value.replace(/```json/gi, '').replace(/```/g, '').trim()); }\n  catch (error) { return {}; }\n};\n\nconst message = $('Edit Fields').first().json.message?.content || '';\nconst crm = $('Leer Estado CRM').first().json || {};\nconst orchestratorContainer = $('Edit Fields1').first().json || {};\nconst orchestrator = parseObject(orchestratorContainer.orquestador || orchestratorContainer);\nconst normalizedMessage = normalize(message);\n\nconst listRequest = orchestrator.intent === 'LIST_APPROVED_CONTENT'\n  || /(?:que|cuales|lista|mostrar|dime).*(?:contenidos|temas|materiales|fuentes).*(?:aprobados|disponibles)/i.test(normalizedMessage)\n  || /(?:sobre que|de que).*(?:puedes ensenar|puedes explicar|tienes contenido)/i.test(normalizedMessage);\n\nconst allRows = $input.all()\n  .map((item) => item.json || {})\n  .filter((row) => row.id && row.topic && row.content && row.source_document);\n\nconst seen = new Set();\nconst availableTopics = [];\nfor (const row of allRows) {\n  const key = normalize(`${row.topic}|${row.title}|${row.source_document}|${row.version || ''}`);\n  if (seen.has(key)) continue;\n  seen.add(key);\n  availableTopics.push({\n    content_id: String(row.id),\n    topic: row.topic,\n    title: row.title || row.topic,\n    organization: row.source_org || '',\n    document: row.source_document,\n    section: row.source_section || '',\n    version: row.version || ''\n  });\n}\n\nif (listRequest) {\n  return {\n    json: {\n      request_type: 'LIST_APPROVED_CONTENT',\n      approved_content: [],\n      approved_content_count: 0,\n      total_approved_count: allRows.length,\n      available_topics: availableTopics.slice(0, 30)\n    }\n  };\n}\n\nconst context = normalize([message, crm.educational_topic, crm.topic_of_interest].filter(Boolean).join(' '));\nconst tokens = new Set(context.split(/[^a-z0-9]+/).filter((token) => token.length >= 3));\n\nconst rows = allRows\n  .map((row) => {\n    const keywords = Array.isArray(row.keywords) ? row.keywords : [];\n    const searchable = normalize([row.topic, row.title, ...keywords].join(' '));\n    let score = 0;\n    if (context.includes(normalize(row.topic))) score += 10;\n    for (const keyword of keywords) {\n      if (context.includes(normalize(keyword))) score += 5;\n    }\n    for (const token of tokens) {\n      if (searchable.includes(token)) score += 1;\n    }\n    return { ...row, relevance_score: score };\n  })\n  .filter((row) => row.relevance_score > 0)\n  .sort((a, b) => b.relevance_score - a.relevance_score)\n  .slice(0, 5);\n\nreturn {\n  json: {\n    request_type: 'EXPLAIN_TOPIC',\n    approved_content: rows,\n    approved_content_count: rows.length,\n    total_approved_count: allRows.length,\n    available_topics: availableTopics.slice(0, 30)\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26848,
        17984
      ],
      "id": "1b3d4e95-64fd-4c88-976f-bc67825b3a28",
      "name": "Consolidar Base Educativa"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT field_name, question_text, answer_options, rationale,\n       prospect_type, intent, priority\nFROM fa_question_config\nWHERE active = TRUE\n  AND field_name = $1\n  AND prospect_type IN ($2, 'ANY')\n  AND intent IN ($3, 'ANY')\nORDER BY\n  CASE WHEN prospect_type = $2 THEN 0 ELSE 1 END,\n  CASE WHEN intent = $3 THEN 0 ELSE 1 END,\n  priority ASC\nLIMIT 1;",
        "options": {
          "queryReplacement": "=={{ [$json.next_missing_field, $json.known_profile?.prospect_type || 'ANY', $json.intent || 'ANY'] }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        28016,
        17824
      ],
      "id": "b5e7bc68-e5c5-42e2-8ca2-06698ccc1b1a",
      "name": "Buscar Pregunta Configurable",
      "alwaysOutputData": true,
      "credentials": {
        "postgres": {
          "id": "iwedIXMP2aKOJCbg",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const context = $('Code in JavaScript').first().json || {};\nconst row = $input.first()?.json || {};\n\nconst configuredQuestion = row.question_text\n  ? {\n      field_name: row.field_name,\n      question_text: row.question_text,\n      answer_options: Array.isArray(row.answer_options) ? row.answer_options : [],\n      rationale: row.rationale || null,\n      prospect_type: row.prospect_type || 'ANY',\n      intent: row.intent || 'ANY'\n    }\n  : null;\n\nreturn {\n  json: {\n    ...context,\n    configured_question: configuredQuestion\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28208,
        17824
      ],
      "id": "e2297610-4620-47ca-8e2e-d0be680acbc0",
      "name": "Preparar Entrada Agente General"
    }
  ],
  "pinData": {},
  "connections": {
    "Execute a SQL query7": {
      "main": [
        [
          {
            "node": "Respond to Webhook3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook2": {
      "main": [
        [
          {
            "node": "Execute a SQL query7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query6": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Execute a SQL query6",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Asegurar Sesion Existe",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asegurar Sesion Existe": {
      "main": [
        [
          {
            "node": "Execute a SQL query5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asistente de Seguimiento": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Execute a SQL query4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query3": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente General": {
      "main": [
        [
          {
            "node": "Execute a SQL query3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Execute a SQL query2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "No Operation, do nothing": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Buscar Pregunta Configurable",
            "type": "main",
            "index": 0
          },
          {
            "node": "Asistente de Seguimiento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Buscar Contenido Educativo Aprobado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Tutor": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente Comercial": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Orquestador": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Agente Comercial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query1": {
      "main": [
        [
          {
            "node": "Orquestador",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Execute a SQL query1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Leer Estado CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Estado CRM": {
      "main": [
        [
          {
            "node": "Leer Historial Mensajes",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Leer Historial Mensajes": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Contenido Educativo Aprobado": {
      "main": [
        [
          {
            "node": "Consolidar Base Educativa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consolidar Base Educativa": {
      "main": [
        [
          {
            "node": "Agente Tutor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pregunta Configurable": {
      "main": [
        [
          {
            "node": "Preparar Entrada Agente General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Entrada Agente General": {
      "main": [
        [
          {
            "node": "Agente General",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "0455f296-d29d-4cfd-9688-d530c081d603",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "52e929a30496b8054358e0ad04df8506823991aec57a899d87d1e83fdcd56089"
  },
  "nodeGroups": [],
  "id": "sNgYQY65aDBbJts6",
  "tags": []
}